@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

#about-paragraph{
    margin: 2rem;
    padding: 1rem;
    outline: black 1px solid;
    background-color: white;
}

#styling{
    background-color: #D4DED3;
    margin: 2rem;
    padding-bottom: 1rem;
}