#formatting{
    display: flex;
    width: 97vw;
    height: 81vh;
}

#selected-list{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    margin: 1rem;
    width: 50vw;
    height: 81vh;
    align-items: center;
    overflow-y: auto;
}

#center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lists-div{
    display:flex;
    flex-direction: column;
    width: 50vw;
    height:85vh;
}

#create-list-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#list-containers{
    height: 40vh;
    overflow-y: auto;
}

#name-input, #hero-list, #desc-input{
    border-radius: 14px;
    border: 1.5px solid;
    height: 1.5rem;
    padding-left: 0.7rem;    font-family: 'Inter', sans-serif;;
}

#user-input:focus, #pass-input:focus{
    outline: none;
}

#show-hero-info, #edit-list-btn{
    margin-top: 1rem;
    height: 1.5rem;
    width: 15rem;
    border-radius: 14px;
    border: 0px;
    background-color: #D4DED3;
}

#create-list-btn{
    margin-top: 1.5rem;
    height: 1.5rem;
    width: 5rem;
    margin-left: 1rem;
    border-radius: 14px;
    border: 0px;
    background-color: #D4DED3;
}

#one-container{
    margin-top: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
}

#one-container:hover{
    background-color: lightgrey;
}

#name-of-list{
    margin-left: 1rem;
    margin-bottom: 0rem;
}

#modified-time{
    margin-left: 1rem;
    margin-top: 0rem;
}

#create-list-btn:hover, #show-hero-info:hover, #edit-list-btn:hover{
    background-color: #CFD6C6;
}

.switch{
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 1.5rem;
    background-color: white;
    border: 1px black solid;
    border-radius: 14px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
}

.slider:before{
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 4px;
    bottom: 4px;
    border-radius: 14px;
    background-color: #75826D;
    transition: 0.4s;
}

input:checked + .slider:before{
    transform: translateX(2.5rem)
}

input:checked + .slider{
    background-color: #C7D2C0;
    border-radius: 14px;
}

#span-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}