#center-div{
    margin-top: 7vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#public-lists{
    height: 30rem;
    overflow-y: auto;
}

#public-list-item{
    border: 1px black solid;
    padding: 1rem;
}

#public-list-item:hover{
    background-color: lightgrey;
    cursor: pointer;
}