#unauth-navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #D4DED3;
    height: 15vh;
    align-items: center;
}

p{
    font-family: 'Inter', sans-serif;
}

#admin-priv, #manage-my-lists, #login-text, #homepage-link, #search-text, #view-public-lists{
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

#admin-priv:hover, #manage-my-lists:hover, #login-text:hover, #homepage-link:hover, #search-text:hover, #view-public-lists:hover {
    color: darkgreen;
}

